html{
    background-color: blueviolet;
  }

p, h1 { 
    color:rgb(229, 243, 230)  !important; /* va a sobreescribir a todos */
}

h2{
    color:aqua;
}
#primer-parrafo {
    color:blue; /* va a sobreescribir solo a las clases */
}                 /* pseudoclases y etiquetas */
.parrafo {      
    color:green; /* va a sobreescribir solo a las etiquetas */
}                  /* y pseudoelementos */
p {
    color:orange;
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }